.progress-container {
	max-width: 1500px;
	height: 8px;
	background: #ccc;
	left: 0;
	top: 0;
	right: 0;
	position: fixed;
	z-index: 1;
	margin: 0 auto;
	box-sizing: border-box;
	margin: 0 auto;
}

.progress-bar {
	height: 8px;
	background: #4caf50;
	width: 0%;
}
#buttonUP {
 	background: url('up.png') center center no-repeat;
 	height: 80px;
 	width: 80px;  
  	position: fixed;
  	bottom: 20px;
	/*right: 45%;*/
	right: 20px;
	z-index: 99;
	font-size: 18px;	
	cursor: pointer;
	border: none;
  outline: none;
	display: none;
	background-color: grey;
	opacity: 0.8;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 20px;
}
